---
import SimpleDialog from './SimpleDialog.astro';
---

<SimpleDialog id="about-dialog">
  <h2>About Lucinda</h2>
  
  <p>Lucinda Burman is an illustrator based in [Location].</p>
  
  <p>
    Selected clients include: [Client List], [Client Name], [Client Name], 
    [Publication], [Brand], [Company], [Magazine], [Publisher], 
    [Organization], [Client], [Brand Name], [Publication Name].
  </p>
  
  <p>
    Lucinda's work "[Book/Project Title]" was [published/featured/recognized] 
    in [Year/Publication/Award].
  </p>
  
  <div class="contact-info">
    <p>contact me:</p>
    <p><a href="mailto:hello@lucindaburman.com">hello@lucindaburman.com</a></p>
    <p>+44 (0) 000 000 0000</p>
  </div>
</SimpleDialog>