---
import SimpleDialog from "./SimpleDialog.astro";
---

<SimpleDialog id="about-dialog">
  <p>
    I’m an image maker who thrives on adapting my work to a variety of
    applications. Everything I do begins with something that is hand-drawn or
    painted…
    <br /><br />
    This has led to projects across editorial, brand storytelling and collaborations,
    installation, publishing, bespoke commissions, and events. I enjoy the collaborative
    process working with a wide spectrum of clients from large brands and companies
    to individuals, from all around the world.
  </p>

  <p>
    <h3>Select clients</h3>
    <br />
    W Hotel Paris, Marriott/ The Spectator Magazine (UK & USA)/ Carlowrie Group/
    Zwift/ Motcombs Knightsbridge/ Pascal Huser Design & Build/ Tall Tape/ The Painted
    Door Company, South Africa/ Willow & Ivy Events, USA
  </p>

  <p>
    <h3>Select Exhibitions</h3>
    <br />
    The Grapefruit Gallery - Fulham, London - 2012-2017
    <br />
    Montpellier Gallery - Stratford-upon-Avon 2015<br />
    The Gallery Upstairs - Henley, UK 2014<br />
    The Hollywood Gallery - Chelsea, London - 2014<br />
    'Emerging Collectors' - The Hamptons, NYC - July 2013<br />
    'Place' - Kings Road, London - September 2013<br />
    'Birmingham Today' - RBSA, February 2014 <br />
  </p>

  <div class="contact-info">
    <p>contact me:</p>
    <p><a href="mailto:hello@lucindaburman.com">hello@lucindaburman.com</a></p>
  </div>
</SimpleDialog>
